// -- Hero -- //

$ns: '.hero-component';

#{$ns} {
  &__wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__image {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;

    &[data-hero-animate="true"] {
      visibility: visible;
      opacity: 1;
    }
  }
}